
doctype html
html(lang='en')
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= titulo
    link(href='css/normalize.css')
    link(href='css/style.css', rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Fjalla+One", rel="stylesheet")

    script(type="text/javascript", src="js/progras.js")
    
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="js/jquery.modal.js", type="text/javascript", charset="utf-8")
    link(href="css/jquery.modal.css", rel="stylesheet", type="text/css", media="screen")
    
    //[if lt IE 7]>
      <html class="ie ie6" lang="en"> <![endif]
    //[if IE 7]>
      <html class="ie ie7" lang="en"> <![endif]
    //[if IE 8]>
      <html class="ie ie8" lang="en"> <![endif]
      
    script
      - var link1 = "GENERAL"
      - var link2 = "ESTADOS INICIALES"
      - var link3 = "ALERTAS"
      - var link4 = "ENVIO DE ALERTAS"
      - var link5 = "ANALISTA VIRTUAL"
      - var link6 = "INFORMES CENTINEL"
      - var link7 = "REPORTES"
      - var link8 = "BASES DE DATOS"
      - var link9 = "MOTOR"
      - var link10 = "SEGURIDAD"
      - var link11 = "EFECTIVIDAD REGLAS"
      - var link12 = "CAMPOS AUXILIARES"
      - var link13 = "NORMATIVA PCI"
      - var link14 = "HISTORICOS"
    
  body
    // start
    
    //- HEADER
    header
      div.wrap
          h1 
            img(src="img/ico-ajust.png") 
            | CONFIGURACI&Oacute;N DEL SISTEMA
      span.mini-menu
          a(href="#") 
           img(src="img/ico-home.png")
          a(href="#") 
           img(src="img/ico-exit.png")
          
    //- CONTAINER
    
    main
      div.wrap.box.columns
        nav.col
          div.false-col
          ul
            li
              a.selected(href="index.html")
                img(src="img/ico-1.png")
                span= link1
            li
              a(href="#")
                img(src="img/ico-2.png")
                span= link2
            li
              a(href="#")
                img(src="img/ico-3.png")
                span= link3
            li
              a(href="#")
                img(src="img/ico-4.png")
                span= link4
            li
              a(href="#")
                img(src="img/ico-5.png")
                span= link5
            li
              a(href="#")
                img(src="img/ico-6.png")
                span= link6
            li
              a(href="#")
                img(src="img/ico-7.png")
                span= link7
            li
              a(href="#")
                img(src="img/ico-8.png")
                span= link8
            li
              a(href="#")
                img(src="img/ico-9.png")
                span= link9
            li
              a(href="#")
                img(src="img/ico-10.png")
                span= link10
            li
              a(href="#")
                img(src="img/ico-11.png")
                span= link11
            li
              a(href="#")
                img(src="img/ico-12.png")
                span= link12
            li
              a(href="pci.html")
                img(src="img/ico-13.png")
                span= link13
            li
              a(href="#")
                img(src="img/ico-14.png")
                span= link14

        include general
        
        //- include pci
        
    footer
    
    //- MODAL
    include modal  
       
    script(type="text/javascript" charset="utf-8").
      $(function() {
        function log_modal_event(event, modal) {
          if(typeof console != 'undefined' && console.log) console.log("[event] " + event.type);
        };

        $(document).on($.modal.BEFORE_BLOCK, log_modal_event);
        $(document).on($.modal.BLOCK, log_modal_event);
        $(document).on($.modal.BEFORE_OPEN, log_modal_event);
        $(document).on($.modal.OPEN, log_modal_event);
        $(document).on($.modal.BEFORE_CLOSE, log_modal_event);
        $(document).on($.modal.CLOSE, log_modal_event);
        $(document).on($.modal.AFTER_CLOSE, log_modal_event);
        $(document).on($.modal.AJAX_SEND, log_modal_event);
        $(document).on($.modal.AJAX_SUCCESS, log_modal_event);
        $(document).on($.modal.AJAX_COMPLETE, log_modal_event);

        $('#more').click(function() {
          $(this).parent().after($(this).parent().next().clone());
          return false;
        });

        $('a[href="#ex5"]').click(function(event) {
          event.preventDefault();
          $(this).modal({
            escapeClose: false,
            clickClose: false,
            showClose: false
          });
        });

      });
    
    // end
